URxvt.font: xft:Terminus:pixelsize=19,xft:TerminessTTF Nerd Font Mono

URxvt.depth: 32
URxvt.background: [95]black
URxvt.foreground: gray

URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true

URxvt.scrollBar: false
URxvt.internalBorder: 0

URxvt.perl-ext-common: default,resize-font,matcher

URxvt.url-launcher: firefox
URxvt.matcher.button: 1

URxvt.matcher.rend.0: Uline #808080
